// About page (/about)

.markdown {

  p {
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 1em;
  }

  h1 {
    font-size: .8em;
    margin-top: 3em;
  }
}
